pymzml[plot]==2.5.3
psims==0.1.30
pyqms==0.6.3
scipy==1.14.1
git+https://github.com/MKoesters/peptide_fragments.git@feature/add_fragment_method
loguru==0.7.2
intervaltree==3.1.0
tqdm==4.66.2
pyteomics==4.7.1
