bump2version==1.0.1
flake8==7.0.0
pip==24.0
wheel==0.42.0
watchdog==5.0.3
tox==4.13.0
coverage==7.4.2
pytest-runner==6.0.1
Sphinx==7.2.6
codecov==2.1.13
twine==5.0.0
pytest==8.0.1
Sphinx==7.2.6
Click==8.1.7
pydocstyle==6.3.0
coverage==7.4.2
matplotlib==3.8.3
-r requirements.txt
