pymzml[plot]==2.4.7
psims==1.2.2
pyqms==0.6.4
scipy==1.7.2
git+https://github.com/MKoesters/peptide_fragments.git@feature/add_fragment_method
loguru==0.6.0
intervaltree==3.1.0
pyteomics==4.4.1
tqdm==4.62.3
