bump2version==1.0.1
pip==21.0.1
wheel==0.36.2
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
codecov==2.1.11
twine==3.4.0
Sphinx==3.5.2
pytest==6.2.2
Click==7.1.2
pytest-runner==5.3.0
pydocstyle==5.1.1
coverage==4.5.4
matplotlib==3.3.4
-r requirements.txt
